<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205678293754-gfg61ompfkmtbhgjkfccrv7mu4jrmq89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205678293754-gfg61ompfkmtbhgjkfccrv7mu4jrmq89</string>
	<key>API_KEY</key>
	<string>AIzaSyAYsjPkjYjnNlELRsfT4TWFku5XTaBgrbs</string>
	<key>GCM_SENDER_ID</key>
	<string>205678293754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sukydeveloper.blicBuch</string>
	<key>PROJECT_ID</key>
	<string>blitzbuch</string>
	<key>STORAGE_BUCKET</key>
	<string>blitzbuch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205678293754:ios:6a18bc59e7a922218a4f43</string>
	<key>DATABASE_URL</key>
	<string>https://blitzbuch.firebaseio.com</string>
</dict>
</plist>